@use 'variables' as v;

h1, h2, h3{
    margin: 0;
    line-height: 1.2;
}
body{
    font-family: v.$fontHeading;
    font-weight: 700;
}
h1{
    font-size: 2rem;
}
p{
    font-family: v.$fontBody;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.8;
}