@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    &__logo{
        width: 15rem;
        object-fit: contain;
    }
    &__navIcon{
        border: none;
        background-color: transparent;
        @include m.tablet{
            display: none;
        }
        &:hover{
            cursor: pointer;
        }
    }
}